@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;  /* White background */
  --foreground: #fff;  /* Black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;  /* Dark background for dark mode */
    --foreground: #000;  /* Light text for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition between light/dark mode */
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
